# Ignorar dependencias de Node.js
# Esta carpeta se regenera automáticamente al ejecutar "npm install"
/node_modules



# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar variables de entorno
# Si en el futuro agregas un archivo .env para guardar variables,
# es fundamental ignorarlo.
.env
.env.*
!.env.example